.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: var(--primary-font);
}

.loginContent {
    width: 50%;
    height: 100vh;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    color: var(--secundary-white);
    font-size: 2em;
}

.formLogin {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.inputDiv {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginName {
    height: 30px;
    width: 100%;
    background-color: var(--primary-white);
    border-radius: 5px;
}

.loginPassword {
    height: 30px;
    width: 100%;
    background-color: var(--primary-white);
    border-radius: 5px;
}

.loginSubmit {
    height: 30px;
    width: 100%;
    background-color: var(--primary-yellow);
    color: var(--secundary-white);
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 30px;
}

.recoverPassword {
    color: var(--secundary-white);
    margin-top: 10px;
}

@media (max-width: 767.98px) {
    .formLogin{
        width: 80%;
    }
}