.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.loginContent{
    width: 50%;
    height: 100vh;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formTitle{
    font-family: var(--primary-font);
    color: var(--font-color-white);
    font-size: 2em;
}
.formLogin{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}