.subscribe {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-blue);
}

.subscribeContent {
    width: 50%;
    height: 100vh;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formTitle {
    color: var(--secundary-white);
    font-size: 2em;
}

.formSubscribe {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.inputDiv {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputSubscribe {
    height: 30px;
    width: 100%;
    background-color: var(--primary-white);
    border-radius: 5px;
}

.subscribeSubmit {
    height: 30px;
    width: 100%;
    margin-top: 30px;
    background-color: var(--primary-yellow);
    color: var(--secundary-white);
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}