.erro {
    width: 100%;
    height: 100vh;
    background-color: var(--quaternary-blue);
}

.erro .container{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-blue);
}

.error .header {
    background-color: var(--primary-blue);
}

.erroContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorNumber {
    font-family: var(--primary-font);
    font-size: 3em;
    font-weight: bold;
    color: var(--font-color-white);
}

.errorImg{
    width: 150px;
    height: 150px;
    margin: 20px;
    object-fit: cover;
}

.errorMessage{
    font-family: var(--primary-font);
    font-size: 2em;
    color: var(--font-color-white);
}