:root {
    --primary-blue: #285670;
    --secundary-blue: #2F6D89;
    --terciary-blue: #40AAD8;
    --quaternary-blue:#D4DDE2;
    --primary-black: #333333;
    --secundary-black: #474747;
    --primary-grey: #5E6061;
    --secundary-grey: #A8ACAD;
    --terciary-grey: #E0E0E0;
    --primary-yellow: #E4C870;
    --primary-white: #fafafa;
    --secundary-white: #EFEFEF;
    --terciary-white: #F8F8F8;
    --primary-font: 'Nunito', sans-serif;
    --primary-green: #6CAD44;
    --primary-red: #D94040;
    --primary-purple: #A058CC;
    --primary-orange: #E28A38;
}

body {
    background-color: var(--secundary-white);
}

.container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.uiContent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}