.forgot {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.forgotContent {
    width: 50%;
    height: 100vh;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    color: var(--secundary-white);
    font-size: 2em;
}

.formForgot {
    width: 300px;
    height: 80px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.forgotEmail{
    height: 30px;
    width: 100%;
    background-color: var(--primary-white);
    border-radius: 5px;
}
.forgotSubmit{
    height: 30px;
    width: 100%;
    background-color: var(--primary-yellow);
    color: var(--secundary-white);
    border-radius: 5px;
    font-weight: bolder;
}

@media (max-width: 767.98px) {
    .formForgot{
        width: 80%;
    }
}
