.indexInstrutorForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
}

.searchBar {
    margin-top: 50px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchBar .searchTitle {
    font-size: 2em;
}

.searchBar .inputSearch {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    background-image: url('../../assets/img/search.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    padding: 0 50px 0 5px;
}

.tableUser {
    border-collapse: collapse;
    margin-top: 50px;
    width: 70%;
    background-color: var(--terciary-white);
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--secundary-grey);
}

.tableUser tr {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.tableUser tr:hover {
    background-color: var(--terciary-grey);
}

.tableUser th {
    font-size: 1em;
    text-align: center;
}

.tableUser td {
    font-size: .70em;
    text-align: center;
}

.tableUser tr td,
.tableUser tr th {
    line-height: 50px;
    width: 25%;
    height: 100%;
}

link {
    width: 50px;
    height: 50px;
}

.editBtn {
    text-decoration: none;
    color: var(--primary-white);
    background-color: var(--primary-yellow);
    font-family: var(--primary-font);
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 5px;
}

.spanStatus {
    text-decoration: none;
    color: var(--primary-white);
    font-family: var(--primary-font);
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px 10px;
}

.orange {
    background-color: var(--primary-orange);
}

.red {
    background-color: var(--primary-red);
}

.purple {
    background-color: var(--primary-purple);
}

.green {
    background-color: var(--primary-green);
}

.blue {
    background-color: var(--terciary-blue);
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .searchBar {
        flex-direction: row;
    }

    .tableUser tr td {
        font-size: .8em;
    }

    .header .container {
        width: 100%;
    }
}



@media (max-width: 767.98px) {
    .searchBar {
        flex-direction: column;
        text-align: center;
    }

    .tableUser tr td {
        font-size: .6em;
    }

    .header .container {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .searchBar {
        flex-direction: column;
    }

    .tableUser tr td {
        font-size: .5em;
    }

    .header .container {
        width: 100%;
    }
}